<!DOCTYPE html>
<html lang="en" data-theme='theme-dark'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/affinity-css@latest/css/index.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
  <title>Counter Live</title>
</head>
<body class="page">
  <h1 id="count">0</h1>
  <button id="add" class="auto">Increment</button>
  <button id="reset" class="auto">Reset</button>
  <button id="sub" class="auto">Decrement</button>
  <script src="../static/js/counter.js"></script>
</body>
</html>